{% extends 'base.html.twig' %}

{% block body %}
    {% include '/admin/components/navbar.html.twig' %}

    <div class="container">
    <h1>Users</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Brand</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.brand %}
                        {{ user.brand.name }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_admin_user', { 'id': user.id }) }}">View</a>
                    <a href="{{ path('app_admin_delete_users', { 'id': user.id }) }}" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}